*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 62.5%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  background: #1E1D2B;
  color: #ffffff; }

body, input, textarea, button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  outline: none; }

button {
  cursor: pointer;
  border: none; }

a {
  text-decoration: none; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto; }
  .grid-container .grid-container-img {
    height: 100%;
    width: 100%; }
  .grid-container .grid-container-room {
    height: 100%; }
